<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Annu Eduford: B.Tech and M.Tech, Polytechnic, BCA, MCA and M.Sc.(IT), LLB and B.A. LLB, Others Courses.</title>
  <!-- =============== Favicon add ================== -->
  <link rel="shortcut icon" href="res/fav.png" type="image/x-icon">

  <!-- =============== font-awesome css link ============== -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous">

  <!-- ============ css link =============== -->
  <link rel="stylesheet" href="couses.css">

  <!-- =========== Auto Write Script ============== -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

</head>

<body>
  <!--Header secsion-->
  <nav class="navbar">
    <div class="max-width">
      <div class="logo"><i class="fa fa-graduation-cap" aria-hidden="true"></i><a href="#">Annu<span>Eduford</span></a></div>
      <ul class="menu">
        <li><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#courses">Courses</a></li>
        <li><a href="index.html">Placement</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <div class="menu-btn">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </div>
    </div>
  </nav>
  <!--============ Home secsion start ===============-->

  <section class="home" id="home">
    <div class="max-width">
      <div class="home-content">
        <div class="text-1"><span>Welcome</span> To,</div>
        <div class="text-2">Annu Education Department</div>
        <div class="text-3">Our Courses Offered: <span class="auto-input"></span></div>
      </div>
      <div class="btn">
        <a href="#">Know More.</a>
      </div>
    </div>
  </section>
  <!--================== about section ================-->

  <section class="about" id="about">
    <div class="max-width">
      <h2 class="heading">About me</h2>
      <div class="about-content">
        <div class="left-side">
          <img src="res/fonder.JPG" />
        </div>
        <div class="right-side">
          <div class="text">I'm Anita Pandit, Founder of <span>Annu Eduford</span></div>
          <p><span>Goal: </span>One of the main objectives of Annu Eduford is to find suitable opportunities for job
            applicants that deposit their curriculum vitaes, résumés and other supporting documents with them. Annu
            Placement typically develop vast databases of candidates when they invite applications for vacancies.
          </p>
          <a href="#contact" id="v-btn">Visit Office</a>
          <a href="couses.html">Others Services</a>
        </div>
      </div>
    </div>
  </section>
  <!--================== Services section ================-->

  <section class="Services" id="courses">
    <div class="max-width">
      <h2>Our Courses</h2>
      <div class="items">
        <table>
          <h3>Engineering</h3>
          <tr>B.Tech</tr>
          <td>Agriculture</td>
          <td>Electrical</td>
          <tr>M.Tech</tr>
          <td>Agriculture</td>
          <td>Electrical</td>
        </table>
      </div>
      <!-- <div class="services-content">
        <div class="card">
          <h1 class="text">Engineering</h1>
          <div class="box"> 
              <h4>B.Tech</h4>
              <p>Agriculture <br>Electrical <br>Civil </p>
              <h4>B.Tech</h4>
              <p>Agriculture <br>Electrical <br>Civil </p>
              
          </div>
        </div>

        <div class="card">
          <div class="box">
            <img src="res/st.png" width="25px" class="bursh">
            <div class="text">Staff Training</div>
            <p>Employee training is a program that helps employees learn specific knowledge or skills to improve
              performance in their current roles. Employee development is more expansive and focuses on employee growth
              and future performance, rather than an immediate job role. 50% of employees will need to be reskilled by
              2025.</p>
              <div class="btn" id="edu-btn">
                <a href="index.html" target="_blank">Visit Site</a>
              </div>
          </div>
        </div>

        <div class="card">
          <div class="box">
            <img src="res/hr.png" width="35px" class="bursh">
            <div class="text">HR Solution</div>
            <p>HR solutions is an umbrella term referring to all the technology businesses use to manage personnel. Just
              as “human resources” is a wide-reaching umbrella term, HR solutions can include a diverse set of features
              and functions for employee management and reporting.</p>
              <div class="btn" id="edu-btn">
                <a href="index.html" target="_blank">Visit Site</a>
              </div>
          </div>
        </div>

        <div class="card">
          <div class="box">
            <img src="res/edu.png" width="35px" class="bursh">
            <div class="text">Education Department</div>
            <p>Education develops critical thinking. This is vital in teaching a person how to use logic when making
              decisions and interacting with people (e.g., boosting creativity, enhancing time management). Education
              helps an individual meet basic job qualifications and makes them more likely to secure better jobs.</p>
            <div class="btn" id="edu-btn">
              <a href="couses.html" target="_blank">Visit Site</a>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </section>

  <!--================== contact section ================-->
  <section class="contact" id="contact">
    <div class="max-width">
      <h2 class="heading" id="con-head">Contact us</h2>

      <div class="contact-wrap">
        <div class="contact-in">
          <h1>Contact Info</h1>
          <h2><i class="fa fa-phone" aria-hidden="true"></i> Phone</h2>
          <p>+91 8579898230, 9508123366</p>
          <h2><i class="fa fa-envelope" aria-hidden="true"></i> Email</h2>
          <p>annuplacementoffical@gmail.com</p>
          <h2><i class="fa fa-map-marker" aria-hidden="true"></i> Address</h2>
          <p>Alinagar Gate No. 2, Near Mashjeed Anishabad Patna-800002</p>
          <ul>
            <li><a href="https://www.facebook.com/annuplacement/" target="_blank"><i class="fa fa-facebook"
                  aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
            <li><a href="https://www.instagram.com/annu_official.__/" target="_blank"><i class="fa fa-instagram"
                  aria-hidden="true"></i></a></li>
          </ul>
        </div>
        <div class="contact-in" id="from">
          <h1>Send a Message</h1>

          <form action="javascript:sendmail()" method="post">

            <input type="text" placeholder="Enter Your Full Name" class="contact-in-input"  name="Name" id="Name" required>
            <input type="text" placeholder="Enter Your Email Id" class="contact-in-input"  name="Sender" id="Sender" required>
            <input type="text" placeholder="Enter Your Mobile" class="contact-in-input"  name="Subject" id="Subject" required>
            <textarea placeholder="Enter Your Message" class="contact-in-textarea" name="Message" id="Message"
              required></textarea>

            <button class="contact-in-btn" id="btn" type="submit" onclick="sendMsg">Send Massage</button>
          </form>
        </div>
        <div class="map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1062.4594051578974!2d85.0937617!3d25.5869844!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3fb1bcfd718f4f98!2zMjXCsDM1JzE0LjMiTiA4NcKwMDUnMzcuNyJF!5e1!3m2!1sen!2sin!4v1651474246543!5m2!1sen!2sin"
            style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </section>

  <!--================== footer section ================-->
  <footer>
    <ul class="social-media">
      <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></i></a></li>
      <li><a href="https://www.instagram.com/annu_official.__/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    </ul>
    <div class="footer-menu">
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Courses</a>
      <a href="#">Placement</a>
      <a href="#">Contect</a>
    </div>
    <div class="copywrite">&copy; <span>Annu Placement</span> | All Rights Reserved | Desine By <a href="https://github.com/dhiraj80" target="_blank">Dhiraj Arya</a></div>
    <!-- <label class="copywrite">&copy; <span>Annu Placement</span> | All Rights Reserved | Desine By <a href="https://github.com/dhiraj80" target="_blank">Dhiraj Arya</a></label> -->
 
 
 
    <!--================== script section ================-->

  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
  <script>
    var typed = new Typed(".auto-input", {
      strings: ["Engineering", "Diploma Engineering", "IT Sector", "LAW", "Pharmacy", "Agriculture","Many More..."],
      typeSpeed: 190,
      backspeed: 190,
      loop: true
    })
  </script>

  <!-- ================== Navbar stiky function ====================== -->
  <script>
    $(document).ready(function () {
      $(window).scroll(function () {
        if (this.scrollY > 15) {
          $('.navbar').addClass("sticky");
        } else {
          $('.navbar').removeClass("sticky");
        }
      })
    })
    $('.menu-btn').click(function () {
      $('.navbar .menu').toggleClass("active");
      $('.menu-btn').toggleClass("active");
    })
  </script>

</body>
</html>