<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Annu Placement: Job Placement,Staff Training and HR Solution</title>
  <!-- =============== Favicon add ================== -->
  <link rel="shortcut icon" href="res/fav.png" type="image/x-icon">

  <!-- =============== font-awesome css link ============== -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- ============ css link =============== -->
  <link rel="stylesheet" href="style.css">

  <!-- =========== Auto Write Script ============== -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

</head>

<body>
  <!--Header secsion-->
  <nav class="navbar">
    <div class="max-width">
      <div class="logo"><i class="fa fa-briefcase" aria-hidden="true"></i><a href="#">Annu<span>Placement</span></a>
      </div>
      <ul class="menu">
        <li><a href="#home">Home</a></li>
        <li><a href="#Services">Services</a></li>
        <li><a href="couses.html">Education</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <div class="menu-btn">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </div>
    </div>
  </nav>
  <!--============ Home secsion start ===============-->

  <section class="home" id="home">
    <div class="max-width">
      <div class="home-content">
        <div class="text-1"><span>Welcome</span> To,</div>
        <div class="text-2">Annu Placement Service</div>
        <div class="text-3">Our services <span class="auto-input"></span></div>
      </div>
      <div class="btn">
        <a href="#contact">Contact Now</a>
      </div>
    </div>
    <div class="top-move">
      <a href="#home"><img src="res/up-icon.png" width="35px" class="bursh"></a>
    </div>
  </section>
  <!--================== Services section ================-->

  <section class="Services" id="Services">
    <div class="max-width">
      <h2>My services</h2>
      <div class="services-content">
        <div class="card">
          <div class="box">
            <div class="bursh"><i class="fa fa-briefcase" aria-hidden="true"></i></div>
            <div class="text">Job Placement</div>
            <p>Here placement refers to the assignment of jobs to new employees only. Placement involves assigning a
              specific job to each one of the selected candidates. However, placement is not as simple as it looks.
              Instead, it involves striking a fit between the requirements of a job and the qualifications of a
              candidate.</p>
          </div>
        </div>

        <div class="card">
          <div class="box">
            <div class="bursh"><i class="fa fa-users" aria-hidden="true"></i></div>
            <div class="text">Staff Training</div>
            <p>Employee training is a program that helps employees learn specific knowledge or skills to improve
              performance in their current roles. Employee development is more expansive and focuses on employee growth
              and future performance, rather than an immediate job role. 50% of employees will need to be reskilled by
              2025.</p>
          </div>
        </div>

        <div class="card">
          <div class="box">
            <img src="res/hr.png" class="bursh" width="30px">
            <div class="text">HR Solution</div>
            <p>HR solutions is an umbrella term referring to all the technology businesses use to manage personnel. Just
              as “human resources” is a wide-reaching umbrella term, HR solutions can include a diverse set of features
              and functions for employee management and reporting.</p>
          </div>
        </div>

        <div class="card">
          <div class="box">
            <div class="bursh"><i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
            <div class="text">Education Department</div>
            <p>Education develops critical thinking. This is vital in teaching a person how to use logic when making
              decisions and interacting with people (e.g., boosting creativity, enhancing time management). Education
              helps an individual meet basic job qualifications and makes them more likely to secure better jobs.</p>
            <div class="btn" id="edu-btn">
              <a href="couses.html" target="_blank">Visit Site</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--================== about section ================-->

  <section class="about" id="about">
    <div class="max-width">
      <h2 class="heading">About me</h2>
      <div class="about-content">
        <div class="left-side">
          <img src="res/fonder.JPG" />
        </div>
        <div class="right-side">
          <div class="text">I'm Anita Pandit, Founder of <span>Annu Placement</span></div>
          <p><span>Goal: </span>One of the main objectives of Annu Placement is to find suitable opportunities for job
            applicants that deposit their curriculum vitaes, résumés and other supporting documents with them. Annu
            Placement typically develop vast databases of candidates when they invite applications for vacancies.
          </p>
          <a href="#contact" id="v-btn">Visit Office</a>
          <a href="couses.html" id="oth-ser">Others Services</a>
        </div>
      </div>
    </div>
  </section>
  <!--================== contact section ================-->
  <section class="contact" id="contact">
    <div class="max-width">
      <h2 class="heading" id="con-head">Contact us</h2>

      <div class="contact-wrap">
        <div class="contact-in">
          <h1>Contact Info</h1>
          <h2><i class="fa fa-phone" aria-hidden="true"></i> Phone</h2>
          <p>+91 8579898230, 9508123366</p>
          <h2><i class="fa fa-envelope" aria-hidden="true"></i> Email</h2>
          <p>annuplacementoffical@gmail.com</p>
          <h2><i class="fa fa-map-marker" aria-hidden="true"></i> Address</h2>
          <p>Alinagar Gate No. 2, Near Mashjeed Anishabad Patna-800002</p>
          <ul>
            <li><a href="https://www.facebook.com/annuplacement/" target="_blank"><i class="fa fa-facebook"
                  aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
            <li><a href="https://www.instagram.com/annu_official.__/" target="_blank"><i class="fa fa-instagram"
                  aria-hidden="true"></i></a></li>
          </ul>
        </div>
        <div class="contact-in" id="from">
          <h1>Send a Message</h1>

          <form action="javascript:sendmail()" method="post">

            <input type="text" placeholder="Enter Your Full Name" class="contact-in-input"  name="Name" id="Name" required>
            <input type="text" placeholder="Enter Your Email Id" class="contact-in-input"  name="Sender" id="Sender" required>
            <input type="text" placeholder="Enter Your Mobile" class="contact-in-input"  name="Subject" id="Subject" required>
            <textarea placeholder="Enter Your Message" class="contact-in-textarea" name="Message" id="Message"
              required></textarea>

            <button class="contact-in-btn" id="btn" type="submit" onclick="sendMsg">Send Massage</button>
          </form>
        </div>
        <div class="map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1062.4594051578974!2d85.0937617!3d25.5869844!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3fb1bcfd718f4f98!2zMjXCsDM1JzE0LjMiTiA4NcKwMDUnMzcuNyJF!5e1!3m2!1sen!2sin!4v1651474246543!5m2!1sen!2sin"
            style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </section>
  <!--================== footer section ================-->
  <footer>
    <ul class="social-media">
      <li><a href="https://www.facebook.com/annuplacement/" target="_blank"><i class="fa fa-facebook"
            aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
      <li><a href="https://www.instagram.com/annu_official.__/" target="_blank"><i class="fa fa-instagram"
            aria-hidden="true"></i></a></li>
    </ul>
    <div class="footer-menu">
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Education</a>
      <a href="#">About</a>
      <a href="#">Contect</a>
    </div>
    <div class="copywrite">&copy; <span>Annu Placement</span> | All Rights Reserved | Desine By <a href="https://github.com/dhiraj80" target="_blank">Dhiraj Arya</a></div>
    <!--================== script section ================-->

    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script>
      var typed = new Typed(".auto-input", {
        strings: ["Job Placement", "Staff Training", "HR Solution", "Education"],
        typeSpeed: 190,
        backspeed: 190,
        loop: true
      })
    </script>

    <!-- ================== Navbar stiky function ====================== -->
    <script>
      $(document).ready(function () {
        $(window).scroll(function () {
          if (this.scrollY > 15) {
            $('.navbar').addClass("sticky");
          } else {
            $('.navbar').removeClass("sticky");
          }
        })
      })
      $('.menu-btn').click(function () {
        $('.navbar .menu').toggleClass("active");
        $('.menu-btn').toggleClass("active");
      })
    </script>

<script src="https://smtpjs.com/v3/smtp.js"></script>
<script>  

     function sendmail(){
    
			var name = $('#Name').val();
			var email = $('#Sender').val();
			var subject = $('#Subject').val();
      var message = $('#Message').val();


			var Body='Name: '+name+'<br>Email: '+email+'<br>Subject: '+subject+'<br>Message: '+message;
	

			Email.send({
        SecureToken:"0062f431-44c2-421c-a69a-61d18e5634d4",
				To: 'annuplacementoffical@gmail.com',
				From: "annuplacementoffical@gmail.com",
				Subject: "New message on contact from "+name,
				Body: Body
			}).then(
				message =>{
					console.log (message);
					// if(message=='OK'){
					// alert('Your mail has been send. Thank you for connecting.');
					// }
					// else{
					// 	console.error (message);
					// 	alert('There is error at sending message. ')
						
					// }

				}
			);
		}
    </script>
 


</body>

</html>